  
.footer{

  background: #2A2A2A;
  border-top: 5px solid #FFCC57;
  box-sizing: border-box;

  color: white;
  
  height: 150px;


  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;

  width: 100%;

  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}



.InfoList{

  list-style: none;
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
}

.icons{

  display: flex;
  justify-content: space-around;
 
  transition: opacity .3s;
}

.icons > a {
  margin: 10px;
}


.icons > a:hover{
  opacity: .6;
}