
.WrapperForm{

  padding: 5%;

}


.WrapperFormField{

    position: relative;
}

.textInput{
  
    align-items: center;
    color: #2A2A2A;
    display: flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
  
    height: 57px;
    left: 16px;
    position: absolute; 
    top: 0;
    
    
    
    transform-origin: 0% 0%;
    transition: .1s ease-in-out;

  }


.input{

  background: #E7E7E7;
  border: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid #53585D;
  border-radius: 4px;
  
  color: #2A2A2A;
  display: block;
  height: 57px;
  font-size: 18px;
 
  margin-bottom: 15px;
  outline: 0;
  padding: 16px 16px;
  
  resize: none;
  transition: border-color .3s;
}

.input:not([type='checkbox']){
    width: 100%;
    
  }
  
.input:focus {
    border-bottom-color: #FFCC57;
  }

.input + .textInput{
  font-weight: 900;  
  transform: scale(.6) translateY(-10px); 
}

textarea {
    min-height: 150px;
}

.submitButton{

  border: 4px solid transparent;
  border-bottom-color: #FFCC57; 
  border-radius: 4px;
  box-sizing: border-box;
  color: #2A2A2A;
  cursor: pointer;
  display: flex;
  padding: 10px;
  text-decoration: none;
  transition: opacity .3s;

}

.submitButton:hover{
  opacity: .6;
  
}

.ButtonContainer{

  display: flex;
  width: 100%;

}

.justifyContentEnd{
    justify-content: flex-end;

}